<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="static/hangman.js?version=67"></script>
    <link href="static/hangman.css?version=67" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" rel="script">


</head>
<body>
<div class="wrapper">
    <h1>Hangman</h1>
    <p>Use the alphabet below to guess the word. </p>
    <img id="hangmanImg"/>
</div>
</div>
<div class="wrapper">
    <div id="buttons">
    </div>
    <p id="categoryName">Category: Films</p>
    <div id="hold">
    </div>
    <p id="mylives"></p>
    <button id="reset" class="btn btn-secondary">Play again</button>
</div>


</body>
</html>